###############################################################################
# Ignore this files
###############################################################################

*~
.*
*.log

###############################################################################
# Ignore this directories
###############################################################################

node_modules
build

###############################################################################
# Accept this files
###############################################################################

!.gitignore
